html,body{ /*need for footer sticky*/
	height:100%;
	margin:0px;
	padding:0px;
}

input {
	margin-top:10px;
	margin-bottom:10px;
}

*html #wap_container{ /*need for footer sticky*/
	height:100%;
}

#page-buffer{ /*need for footer sticky*/
	height:50px;
}

A {
	font-size:14pt;
	text-decoration:none;
}

A:hover{
	text-decoration:underline;
	color:red;
}

A:active {
	text-decoration:underline;
	color:red;
}

#wrap_container{	/*need for footer sticky*/
	min-height:100%;
	margin-bottom: -50px;
}

#container{
	width: 1024px;
	margin-right:auto;
	margin-left:auto;
	height: 90px;
}

#logo{
	margin-top:5px;
	float:left;
	background-image: url(../images/logo.png);
	height: 90px;
	width: 116px;
}

#name{
	padding-top:60px;
	margin-left:150px;
	color:RED;
	font-size:24pt;
	vertical-align:bottom;
	height: 90px;
}

#navi{
	border: 1px solid red;
	height: 31px;
	/*border-style:solid;
	border-width: 1px;
	border-color: red;*/
	
	margin-top: 20px;
	margin-right:auto;
	margin-left:auto;
	width: 1024px;
}

#l_chapter{
	padding: 5px 0px 5px 0px;
	width:24%;
	float:left;
	text-align:center;
}
.chapter{
	padding: 5px 0px 5px 0px;
	width:24%;
	float:left;
	text-align:center;
	border-left:1px solid red;
}

#content_container{
	width:1024px;
	border: 1px solid red;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}

.title{
	margin-left:5px;
	margin-top:5px;
	width:30%;
	font-size:16pt;
	color: red;
	
}

.content{
	margin: 10px;
}

#footer{ 
	padding:5px;
	width:1014px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	border:1px solid red;
}

.comments_container{
	width:1024px;
	border: 1px solid red;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}

.title2{
	margin-left:5px;
	margin-top:5px;
	width:30%;
	font-size:14pt;
	color: red;	
}

.new_comments{
	margin: 10px;
}
.textarea_comment{
	width:300px;
	height:100px;
}